body {
  font-size: 16px;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.header .row {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  max-width: 250px;
  padding-top: 20px;
}

.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.navbar {
  margin-top: 30px;
}

.navbar .navbar-nav a {
  color: #333;
  font-weight: 700;
  position: relative;
}

.navbar .navbar-nav a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleX(0);
      -ms-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  height: 2px;
  width: 90%;
  background-color: #007929;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navbar .navbar-nav a:hover {
  background-color: transparent;
}

.navbar .navbar-nav a:hover:after {
  -webkit-transform: translateX(-50%) scaleX(1);
      -ms-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

.navbar .list-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-bottom: 0;
}

.navbar .list-inline a {
  color: #fff;
  text-decoration: none;
}

.navbar .nav .open > a, .navbar .nav .open > a:focus, .navbar .nav .open > a:hover {
  background-color: transparent;
}

.navbar .dropdown-menu {
  background-color: #007929;
}

.navbar .phone-wrap {
  font-size: 24px;
}

.navbar .dropdown-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
}

@media (max-width: 992px) {
  .header {
    height: auto;
  }
  .header .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .row [class*="col-"] {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
  }
  .header .logo {
    margin: 0 auto;
  }
}

.language-wrap .btn-link {
  color: #fff;
  text-align: left;
}

.language-wrap .dropdown-menu {
  min-width: 140px;
  padding-left: 20px;
}

#cart.btn-group button {
  background-color: #e95c0a;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 6px;
}

#cart.btn-group button:hover {
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  color: #e95c0a;
  background-color: #fff;
  border: 2px solid #e95c0a;
}

#search button {
  background-color: #e95c0a;
}

#search button .fa {
  color: #fff;
}

.swiper-viewport.v-swiper {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: unset;
}

.swiper-viewport.v-swiper .swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-viewport.v-swiper .swiper-slide a {
  text-decoration: none;
  display: block;
  width: 50%;
  margin-left: 10vh;
  color: #e95c0a;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.swiper-viewport.v-swiper .swiper-slide a:hover {
  color: #b84908;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.swiper-viewport.v-swiper .swiper-slide h2 {
  text-transform: uppercase;
  font-size: 30px;
  text-align: left;
  line-height: 1.6;
  font-weight: bold;
}

.swiper-viewport.v-swiper .swiper-button-next:before {
  content: "\f105";
  color: #e95c0a;
}

.swiper-viewport.v-swiper .swiper-button-prev:before {
  content: "\f104";
  color: #e95c0a;
}

.swiper-viewport.v-swiper .swiper-pagination-bullet-active {
  background-color: #e95c0a;
}

.swiper-viewport.v-carousel {
  margin: 100px 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: unset;
}

.swiper-viewport.v-carousel .swiper-button-next:before {
  content: "\f105";
  color: #e95c0a;
}

.swiper-viewport.v-carousel .swiper-button-prev:before {
  content: "\f104";
  color: #e95c0a;
}

.swiper-viewport.v-carousel .swiper-pagination-bullet-active {
  background-color: #e95c0a;
}

#content > div > blockquote {
  border: none;
  padding: 0;
  margin-top: 45px;
  color: #777;
  line-height: 1.3;
}

#content > div > blockquote ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#content > div > blockquote ul li {
  border: 5px #f7f7f7 solid;
  margin-bottom: 20px;
  padding: 15px 20px 20px 38px;
  background-color: transparent;
  -webkit-transition: border-color .2s ease, background-color .4s ease, color .25s ease, -webkit-transform .5s ease;
  transition: border-color .2s ease, background-color .4s ease, color .25s ease, -webkit-transform .5s ease;
  -o-transition: border-color .2s ease, background-color .4s ease, color .25s ease, transform .5s ease;
  transition: border-color .2s ease, background-color .4s ease, color .25s ease, transform .5s ease;
  transition: border-color .2s ease, background-color .4s ease, color .25s ease, transform .5s ease, -webkit-transform .5s ease;
  font-size: 14px;
  position: relative;
  -webkit-flex-basis: 22%;
      -ms-flex-preferred-size: 22%;
          flex-basis: 22%;
}

#content > div > blockquote ul li:nth-child(1) > span {
  color: #921AD3;
}

#content > div > blockquote ul li:nth-child(1):hover {
  background-color: #921AD3;
  border-color: #921AD3;
}

#content > div > blockquote ul li:nth-child(2) > span {
  color: #f53737;
}

#content > div > blockquote ul li:nth-child(2):hover {
  background-color: #f53737;
  border-color: #f53737;
}

#content > div > blockquote ul li:nth-child(3) > span {
  color: #ff9320;
}

#content > div > blockquote ul li:nth-child(3):hover {
  background-color: #ff9320;
  border-color: #ff9320;
}

#content > div > blockquote ul li:nth-child(4) > span {
  color: #0079ff;
}

#content > div > blockquote ul li:nth-child(4):hover {
  background-color: #0079ff;
  border-color: #0079ff;
}

#content > div > blockquote ul li:hover {
  border-color: #666;
  background-color: #666;
  color: #fff;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

#content > div > blockquote ul li:hover > span {
  color: #fff;
}

#content > div > blockquote ul li > span {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  font-family: MyriadSetProSemiBold, sans-serif;
}

#content > div > blockquote ul li > span > span {
  position: absolute;
  left: 0;
  font-size: 18px;
  left: 15px;
}

#carousel0 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #e95c0a;
}

.banner-grid-wrap {
  margin-top: 90px;
  margin-bottom: 70px;
}

.banner-grid-wrap .banner-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-grid-wrap .banner-grid a {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  border-radius: 7px;
  overflow: hidden;
}

.banner-grid-wrap .banner-grid a:hover {
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 0 8px 1px #b84908;
          box-shadow: 0 0 8px 1px #b84908;
}

.product-thumb .button-group button {
  background-color: #007929;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}

.product-thumb .button-group button:hover {
  background-color: #f67930;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

footer {
  padding: 60px 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

footer a {
  color: #fafafa;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

footer a:hover {
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  text-decoration: none;
  color: #f0da63;
}

footer h5 {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

footer .list-unstyled li {
  padding: 5px 0;
}

.thumbnails {
  overflow: auto;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
}

.thumbnails > li {
  margin-left: 20px;
}

.thumbnails {
  margin-left: -20px;
}

.thumbnails > img {
  width: 100%;
}

.image-additional a {
  margin-bottom: 20px;
  padding: 5px;
  display: block;
  border: 1px solid #ddd;
}

.image-additional {
  max-width: 78px;
}

.thumbnails .image-additional {
  float: left;
  margin-left: 20px;
}

button#button-cart {
  background: #007929;
}

#content {
  padding-bottom: 50px;
}

.product-layout-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-layout {
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-flex-basis: 33%;
      -ms-flex-preferred-size: 33%;
          flex-basis: 33%;
  padding: 10px 10px;
  background: #fafafa;
}

.product-layout .image img {
  margin: 0 auto;
}

.product-layout:hover {
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-box-shadow: 0 0 10px 2px  #e6e6e6;
          box-shadow: 0 0 10px 2px  #e6e6e6;
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.product-layout .product-thumb {
  padding-bottom: 13px;
}

/* media */
@media (max-width: 767px) {
  .navbar-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header {
    height: auto;
  }
  .header .row.header-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-inner .header-inner__item {
    margin-bottom: 20px;
  }
}

.banner-grid-wrap .banner-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.simplecheckout-right-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

div#simplecheckout_payment {
  width: 49%;
}

div#simplecheckout_shipping {
  width: 49%;
  margin-left: 5px;
}

div#simplecheckout_comment {
  width: 100%;
}

.thumbnails {
  overflow: auto;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
}

.thumbnails > li {
  margin-left: 20px;
}

.thumbnails {
  margin-left: -20px;
}

.thumbnails > img {
  width: 100%;
}

.image-additional a {
  margin-bottom: 20px;
  padding: 5px;
  display: block;
  border: 1px solid #ddd;
}

.image-additional {
  max-width: 78px;
}

.thumbnails .image-additional {
  float: left;
  margin-left: 20px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #007929;
}

.fa-home:before {
  color: #007929;
}

.breadcrumb > a .active {
  color: #007929;
}

.breadcrumb li a {
  color: #007929;
}

/* cart */
#cart.open > .btn {
  background-image: none;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  color: #666;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

#cart.open > .btn:hover {
  color: #444;
}

#cart .dropdown-menu {
  background: #eee;
  z-index: 1001;
}

#cart .dropdown-menu {
  min-width: 100%;
}

@media (max-width: 478px) {
  #cart .dropdown-menu {
    width: 100%;
  }
}

#cart .dropdown-menu table {
  margin-bottom: 10px;
}

#cart .dropdown-menu li > div {
  min-width: 427px;
  padding: 0 10px;
}

@media (max-width: 478px) {
  #cart .dropdown-menu li > div {
    min-width: 100%;
  }
}

#cart .dropdown-menu li p {
  margin: 20px 0;
}

ul.about-us-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-bottom: 40px;
  margin-top: 40px;
}

ul.about-us-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

ul.about-us-list li span:first-child {
  color: #e95c0a;
  margin-bottom: 5px;
}

#content .btn-primary {
  background-color: #007929;
  border: #007929;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

#content .btn-primary:hover {
  background-color: #e95c0a;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #007929;
  border-color: #007929;
}

.pagination > li > a,
.pagination > li > span {
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #007929;
}

.content-wrap h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 29px;
}

.content-wrap {
  padding: 20px 0;
}

h3.page-title {
  font-size: 28px;
  text-align: center;
}

h4.sub-title {
  font-size: 24px;
  margin-top: 26px;
}
