.header-top {
  background: #007929; }
  .header-top .list-inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    margin-bottom: 0; }
    .header-top .list-inline a {
      color: #fff;
      text-decoration: none; }
  .header-top .nav .open > a, .header-top .nav .open > a:focus, .header-top .nav .open > a:hover {
    background-color: transparent; }
  .header-top .dropdown-menu {
    background-color: #007929; }
  .header-top .phone-wrap {
    font-size: 24px; }

.dropdown-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%; }

.header {
  height: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header .row {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

#cart.btn-group button {
  background-color: #e95c0a;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 6px; }
  #cart.btn-group button:hover {
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    color: #e95c0a;
    background-color: #fff;
    border: 2px solid #e95c0a; }

#search button {
  background-color: #e95c0a; }
  #search button .fa {
    color: #fff; }

.swiper-viewport.v-swiper {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: unset; }
  .swiper-viewport.v-swiper .swiper-slide {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .swiper-viewport.v-swiper .swiper-slide a {
      text-decoration: none;
      display: block;
      width: 50%;
      margin-left: 10vh;
      color: #e95c0a;
      -webkit-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      transition: all .3s ease-in; }
      .swiper-viewport.v-swiper .swiper-slide a:hover {
        color: #b84908;
        -webkit-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in; }
    .swiper-viewport.v-swiper .swiper-slide h2 {
      text-transform: uppercase;
      font-size: 30px;
      text-align: left;
      line-height: 1.6;
      font-weight: bold; }
  .swiper-viewport.v-swiper .swiper-button-next:before {
    content: "\f105";
    color: #e95c0a; }
  .swiper-viewport.v-swiper .swiper-button-prev:before {
    content: "\f104";
    color: #e95c0a; }
  .swiper-viewport.v-swiper .swiper-pagination-bullet-active {
    background-color: #e95c0a; }

.navbar {
  margin-top: 10px;
  border-top: 1px solid #ccc; }
  .navbar .navbar-nav a {
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    position: relative; }
    .navbar .navbar-nav a:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%) scaleX(0);
          -ms-transform: translateX(-50%) scaleX(0);
              transform: translateX(-50%) scaleX(0);
      height: 2px;
      width: 90%;
      background-color: #007929;
      -webkit-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
    .navbar .navbar-nav a:hover {
      background-color: transparent; }
      .navbar .navbar-nav a:hover:after {
        -webkit-transform: translateX(-50%) scaleX(1);
            -ms-transform: translateX(-50%) scaleX(1);
                transform: translateX(-50%) scaleX(1); }

.swiper-viewport.v-carousel {
  margin: 100px 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: unset; }
  .swiper-viewport.v-carousel .swiper-button-next:before {
    content: "\f105";
    color: #e95c0a; }
  .swiper-viewport.v-carousel .swiper-button-prev:before {
    content: "\f104";
    color: #e95c0a; }
  .swiper-viewport.v-carousel .swiper-pagination-bullet-active {
    background-color: #e95c0a; }

#content > div > blockquote {
  border: none;
  padding: 0;
  margin-top: 45px;
  color: #777;
  line-height: 1.3; }
  #content > div > blockquote ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #content > div > blockquote ul li {
      border: 5px #f7f7f7 solid;
      margin-bottom: 20px;
      padding: 15px 20px 20px 38px;
      background-color: transparent;
      -webkit-transition: border-color .2s ease, background-color .4s ease, color .25s ease, -webkit-transform .5s ease;
      transition: border-color .2s ease, background-color .4s ease, color .25s ease, -webkit-transform .5s ease;
      -o-transition: border-color .2s ease, background-color .4s ease, color .25s ease, transform .5s ease;
      transition: border-color .2s ease, background-color .4s ease, color .25s ease, transform .5s ease;
      transition: border-color .2s ease, background-color .4s ease, color .25s ease, transform .5s ease, -webkit-transform .5s ease;
      font-size: 14px;
      position: relative;
      -webkit-flex-basis: 22%;
          -ms-flex-preferred-size: 22%;
              flex-basis: 22%; }
      #content > div > blockquote ul li:nth-child(1) > span {
        color: #921AD3; }
      #content > div > blockquote ul li:nth-child(1):hover {
        background-color: #921AD3;
        border-color: #921AD3; }
      #content > div > blockquote ul li:nth-child(2) > span {
        color: #f53737; }
      #content > div > blockquote ul li:nth-child(2):hover {
        background-color: #f53737;
        border-color: #f53737; }
      #content > div > blockquote ul li:nth-child(3) > span {
        color: #ff9320; }
      #content > div > blockquote ul li:nth-child(3):hover {
        background-color: #ff9320;
        border-color: #ff9320; }
      #content > div > blockquote ul li:nth-child(4) > span {
        color: #0079ff; }
      #content > div > blockquote ul li:nth-child(4):hover {
        background-color: #0079ff;
        border-color: #0079ff; }
      #content > div > blockquote ul li:hover {
        border-color: #666;
        background-color: #666;
        color: #fff;
        -webkit-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
                transform: translateY(-5px); }
        #content > div > blockquote ul li:hover > span {
          color: #fff; }
      #content > div > blockquote ul li > span {
        display: block;
        font-size: 18px;
        margin-bottom: 5px;
        font-family: MyriadSetProSemiBold, sans-serif; }
        #content > div > blockquote ul li > span > span {
          position: absolute;
          left: 0;
          font-size: 18px;
          left: 15px; }

#carousel0 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #e95c0a; }

.banner-grid-wrap {
  margin-top: 90px;
  margin-bottom: 70px; }
  .banner-grid-wrap .banner-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .banner-grid-wrap .banner-grid a {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      -webkit-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      transition: all .3s ease-in;
      border-radius: 7px;
      overflow: hidden; }
      .banner-grid-wrap .banner-grid a:hover {
        -webkit-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in;
        -webkit-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
                transform: translateY(-5px);
        -webkit-box-shadow: 0 0 8px 1px #b84908;
                box-shadow: 0 0 8px 1px #b84908; }

.product-thumb .button-group button {
  background-color: #007929;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px; }
  .product-thumb .button-group button:hover {
    background-color: #00ac3a;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in; }

footer {
  padding: 60px 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff; }
  footer a {
    color: #fafafa;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in; }
    footer a:hover {
      -webkit-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      transition: all .3s ease-in;
      text-decoration: none;
      color: #f0da63; }
  footer h5 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff; }
  footer .list-unstyled li {
    padding: 5px 0; }
