<div class="content-wrap">
    <h3 class="page-title">Мы приветствуем Вас на нашей странице ЗДОРОВЬЯ!</h3>
    <p>
        “Витаминка” - сеть аптек в Андижане, которая доставляет лекарственные препараты по всему городу абсолютно бесплатно. 
    </p>

    <h4 class="sub-title">Что мы предлагаем?</h4>.
    <p> 
    В нашем каталоге Вы найдете широкий ассортимент различных товаров, которые 
    эффективно борются с различными заболеваниями
    предназначены для поддержания гигиены
    поддерживают молодость кожи
    направлены на укрепление иммунитета организма
    предназначены для взрослых и детей
    </p>
    <h4 class="sub-title">Почему мы?</h4>
    <p>
        Нашим клиентам мы предлагаем качественные препараты от проверенных производителей, которые доступны по очень хорошей цене.
        У нас имеется доставка по городу - это дает возможность приобрести лекарства не выходя из дома.
    </p>
</div>
